body {
    color: #000;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}
.container {
    width: 636px;
    margin: 0 auto;
    text-align: start;
    min-height: 550px;
}
.article-header h1 {
    font-size: 34px;
    line-height: 40px;
    margin: 0 0 4px;
}
.intro-facts {
    font-size: 16px;
    line-height: 22px;
    list-style-type: disc;
    margin-left: -22px;
    letter-spacing: -.01em
}
.intro-facts li {
    padding: 2px;
    display: list-item;
}
.intro-facts ul li:nth-child(8n){
    width: 80%;
}
.news-info {
border-top: 1px solid #e3e3e3;
border-bottom: 2px solid #e3e3e3;
font-size: 14px;
padding: 0px;
}
.news-info p {
    margin: 10px;    
}
.author {
    text-transform: uppercase;
    text-decoration: none;
}
.publish-info {
    text-transform: uppercase;
    font-weight: 700;
}
.publish-info ul {
    margin-left: -35px;
}
.publish-info li {
    display: inline;
}
.social-media {
    height: 50px;
    width: 100%;
}
.social-media ul {
    margin-left: -40px;
    margin-top: 6px;
}
.social-media li {
    display: inline;
    padding: 0px;
    margin: 0 auto;
}
.comment-container {
    margin-bottom: -6px;
    float: right;
}
.comment-number {
    font-weight: 700;
    font-size: 32px;
    text-align: right;
    margin-top: -6px;
    margin-bottom: -6px;
    color:#3c5a98;
}
.comment-container a {
    text-align: right;
    font-size: 12px;
    margin-top: -1px;
    text-decoration: none;
}
.comment-container a:hover {
    text-decoration: underline;
}
.article-body {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: .03em;
    border-top: 2px solid #e3e3e3;   
}
.article-body a {
    font-weight: bold;
}
.main-body {
    border-bottom: 1px solid #e3e3e3;
}
figure {
    margin: 0px;
    padding: 0px;
}
.image-container img {
    height: 381px;
    width: 634px;
    margin: 0 auto;
    border: 1px solid #000;
}
.image-container figcaption {
    font-size: 14px;
    line-height: 18px;
    border-bottom: 1px solid #e3e3e3;
    padding: 4px 0;
    margin: 0 0 16px;
    font-weight: 700;
    width: 100%;
}
.video-container {
    width: 100%;
    height: 100%;
    display: block;
}
.video-container a {
    font-size: 12px;
    font-weight: 400;
}
iframe {
    height: 432px;
    width: 636px;
    overflow: hidden;
}
.video-container figcaption {
    font-size: 14px;
    line-height: 18px;
    border-bottom: 1px solid #e3e3e3;
    padding: 4px 0;
    margin: 0 0 16px;
    font-weight: 700;
}
.aside-container {
    padding: 12px 16px 0;
    background-color: #f1f8fa;
    border-top: 4px solid #00aad2;
    width: 300px;
    float: right;
    margin-left: 16px;
    letter-spacing: 0.02em;
    line-height: 21px;
}
.aside-container h2 {
    font-size: 24px;
    line-height: 28px;
    padding: 0 0 12px;
    color: #00aad2;
    font-weight: 700;
    border-bottom: 1px solid #00aad2;
}
.aside-container p {
    font-size: 15px;
    font-weight: 500;
    line-height: 21px;
    width: 276px ;
}
.aside-dates {
    font-weight: 700;
    font-size: 16px;
}
.article-footer h3 {
    font-size: 16px;
    line-height: 1.13;
    margin: 6px 0 12px;
}
#add-comment-button {
    float: right;
    background-color: #3c5a98;
    border-radius: 2px ;
    padding: 12px;
}
#add-comment-button a {
    color: #fff;
    letter-spacing: 0.03em;
}
.index-navigation {
    font-size: 3.5rem;
    background-color: #3c5a98;
    color: #fff;
    border-radius: 3px;
}
.button {
    background-color: #3c5a98;
    color: #fff;
    border-radius: 2px;
    padding: 8px;
}
#sharebutton {
    position: relative;
    top: 12px;
    width: 35px;
    height: 35px;
}
.related-topics li {
    display: inline;
    margin: 16px;
}
.more-history a {
    font-size: 16px;
    color: black;
    font-weight: 700;
}
.more-history div {
    margin: 16px;
}
.bottom-box {
    border-top: 2px solid #e3e3e3;
    padding-top: 12px;
    margin-bottom: 3em;
}
